__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

.env
venv/
.venv/

data/raw/
data/processed/

outputs/models/
outputs/logs/

*.csv
*.xlsx
*.parquet
# LaTeX build artifacts
thesis/latex/*.aux
thesis/latex/*.bcf
thesis/latex/*.blg
thesis/latex/*.fdb_latexmk
thesis/latex/*.fls
thesis/latex/*.log
thesis/latex/*.out
thesis/latex/*.run.xml
thesis/latex/*.toc
thesis/latex/*.bbl
thesis/latex/*.synctex.gz

# Generated final thesis PDF
thesis/latex/main.pdf
thesis/latex/*-SAVE-ERROR
